.gitattributes
src/NovelGame/game/saves/
/.vscode
src/NovelGame/log.txt
src/NovelGame/errors.txt
src/NovelGame/traceback.txt
src/NovelGame/game/cache/shaders.txt
src/NovelGame/game/cache/
!src/NovelGame/
src/*
src/*.json
src/NovelGame/game/*.rpyc